/* Base */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2b2c34;
}

/* Typography */
h1, h2, h3, p, a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* Keyframes */
/* Footer */
footer {
  margin-top: 20px;
  border-top: 3px solid #fffffe;
  width: 100%;
  text-align: center;
  color: #fffffe;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #2b2c34;
  margin-bottom: 20px;
  background-color: #fffffe;
}
header img {
  height: 100px;
}

/* Index */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-character {
  margin: 25px;
}
.container-character__checkmark {
  margin-top: -20px;
  margin-left: 70px;
  position: absolute;
  font-size: 1.5em;
  color: rgb(125, 255, 125);
}
.container-character__checkmark-none {
  margin-top: -20px;
  margin-left: 70px;
  position: absolute;
  font-size: 1.5em;
  color: crimson;
}
.container-character__checkmark-null {
  margin-top: -20px;
  margin-left: 70px;
  position: absolute;
  font-size: 1.5em;
  color: orange;
}
.container-character__icon-none {
  filter: grayscale(100%);
}
.container-character__level {
  position: absolute;
  margin-top: -25px;
  margin-left: 30px;
  font-size: 1em;
}

.top-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.top-data-podium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 0px 50px 0px;
}
.top-data-podium .top-character__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-data-podium .top-character__level {
  position: absolute;
  margin-top: -18px;
  margin-left: 30px;
  font-size: 1em;
}
.top-data-podium .top-character_1 {
  font-size: 1.4em;
  margin-top: -27px;
  padding-left: 33px;
  position: absolute;
  color: #FFD700;
}
.top-data-podium #top-1 {
  transform: translateY(-10px);
  margin: 5px;
  border-radius: 12px;
  border: solid #FFD700 2px;
}
.top-data-podium #top-2 {
  margin: 5px;
  border-radius: 12px;
  border: solid #A8A9AD 2px;
}
.top-data-podium #top-3 {
  margin: 5px;
  border-radius: 12px;
  border: solid #CD7F32 2px;
}
.top-data-wins {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px 0px 50px;
  border-radius: 15px;
  background-color: #fffffe;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #2b2c34;
}
.searchbar-input {
  padding: 10px 10px;
  margin: 0px 10px 0px 10px;
  height: 35px;
  width: 200px;
  border-radius: 5px;
  color: #fffffe;
  background-color: #6246ea;
  border: none;
}
.searchbar-submit {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  color: #fffffe;
  background-color: #6246ea;
  border: none;
}

/*# sourceMappingURL=style.css.map */
