.container{
    @include flex-center;
    flex-wrap: wrap;
    &-character{
        margin: 25px;
        &__checkmark{
            margin-top: -20px;
            margin-left: 70px;
            position: absolute;
            font-size: 1.5em;
            color: rgb(125, 255, 125);
            &-none{
                margin-top: -20px;
                margin-left: 70px;
                position: absolute;
                font-size: 1.5em;
                color: crimson;
            }
            &-null{
                margin-top: -20px;
                margin-left: 70px;
                position: absolute;
                font-size: 1.5em;
                color: orange;
            }
        }
        &__icon{
            &-none{
                filter: grayscale(100%);
            }
        }
        &__level{
            position: absolute;
            margin-top: -25px;
            margin-left: 30px;
            font-size: 1em;
        }
    }
}
.top-data{
    @include flex-around;
    flex-direction: row;
    flex-wrap: wrap;
    &-podium{
        @include flex-center;
        flex-direction: row;
        margin: 50px 0px 50px 0px;
        .top-character{
            &__icon{
                @include flex-center;
            }
            &__level{
                position: absolute;
                margin-top: -18px;
                margin-left: 30px;
                font-size: 1em;
            }
            &_1{
                font-size: 1.4em;
                margin-top: -27px;
                padding-left: 33px;
                position: absolute;
                color: #FFD700;
            }
        }
        #top-1{
            transform: translateY(-10px);
            margin: 5px;
            border-radius: 12px;
            border: solid #FFD700 2px;
        }
        #top-2{
            margin: 5px;
            border-radius: 12px;
            border: solid #A8A9AD 2px;
        }
        #top-3{
            margin: 5px;
            border-radius: 12px;
            border: solid #CD7F32 2px;
        }
    }
    &-wins{
        @include flex-around;
        padding: 0px 50px 0px 50px;
        border-radius: 15px;
        background-color: $color-background;
    }
}

.searchbar{
    @include flex-center;
    height: 40px;
    background-color: $color-headline;
    &-input{
        padding: 10px 10px;
        margin: 0px 10px 0px 10px;
        height: 35px;
        width: 200px;
        border-radius: 5px;
        color: $color-button-text;
        background-color: $color-button;
        border: none;
    }
    &-submit{
        height: 35px;
        width: 35px;
        border-radius: 10px;
        color: $color-button-text;
        background-color: $color-button;
        border: none;
    }
}